In [1]:
import glob 
import pandas as pd 
from datetime import datetime

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

In [3]:
#EXTRACT

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [5]:
columns = ['Name', 'Market Cap (US$ Billion)']

In [6]:
def extract():
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
  
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    return extracted_data

In [7]:
extracted_data = extract()

extracted_data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

In [8]:
#TRANSFORM

In [9]:
def transform(data):
    data.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

transformed_data = transform(extracted_data)
transformed_data

                                        Name  Market Cap (GBP$ Billion)
0                             JPMorgan Chase                    293.201
1    Industrial and Commercial Bank of China                    258.910
2                            Bank of America                    243.998
3                                Wells Fargo                    231.010
4                    China Construction Bank                    193.049
..                                       ...                        ...
100                             Ping An Bank                     28.495
101                       Standard Chartered                     27.989
102                     United Overseas Bank                     26.346
103                                QNB Group                     25.170
104                              Bank Rakyat                     24.811

[105 rows x 2 columns]

In [9]:
#LOAD

In [10]:
def load(target_file, data_to_load):
  data_to_load.to_csv(target_file, index = False)

In [ ]:
#LOGGING FUNCTION

In [11]:
def log(message):
  timestamp_format = '%Y-%h-%d-%H:%M:%S' #year-Monthname-day-hour-minute-second
  now = datetime.now()
  timestamp = now.strftime(timestamp_format)
  with open("logfile.text","a") as f:
    f.write(timestamp + ',' + message + '\n')

In [12]:
log("ETL Job Started")
log("Extract phase Started")

In [ ]:
#First 5 rows

In [14]:
extracted_data = extract()
extracted_data.head() #Head = firwst 5 rows

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [ ]:
#LOAD

In [15]:
load("extracted_rates.csv", transformed_data)
log("Load phase Ended")